.content {
    width: 100px;
    height: 100px;
}
.content:first-of-type {
    background-color: rgb(128, 247, 122);
    float: right;
}
.content:nth-of-type(2n) {
    background-color: rgb(27, 186, 40);
    float: right;
}
.content:nth-of-type(3n) {
    background-color: rgb(248, 143, 165);
    clear: both;
    float: right;
}
.content:nth-of-type(4n) {
    background-color: rgb(26, 98, 196);
    clear: both;
    float: left;
}
.content:nth-of-type(5n) {
    clear: both;
    float: left;
    background-color: rgb(214, 101, 214);
}
.content:nth-of-type(6n) {
    background-color: rgb(133, 256, 143);
    float: right;
}
.content:nth-of-type(7n) {
    background-color: rgb(246, 142, 199);
    clear: both;
}