html {
    font-size: 40px;
}
header {
    margin: 0;
    height: 900px;
    background-image: url(../img/backgrounds/top_bg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
a, a:visited, a:link {
    text-decoration: none;
}
.header_content {
    width: 51%;
    padding: 531px 0 0 216px;
}
.header_content-logo {
    margin-bottom: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.header_content-description {
    margin-bottom: 28px;
    font-weight: 400px;
    font-family: 'Lato', sans-serif;
    font-size: 0.33rem;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.header_content-slogan {
    font-weight: 700;
    display: block;
    background-color: rgba(0, 0, 0, 0.3)
}
.header_content-slogan-item1 {
    display: inline-block;
    text-transform: uppercase;
    padding: 49px 0 42px 30px;
    margin-right: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgba(244, 142, 11, 255);
    text-align: left;
}
.header_content-slogan-item2 {
    display: inline-block;
    text-transform: uppercase;
    padding: 49px 30px 42px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

/* Main content container */

#container {
    background:
    linear-gradient(90deg, #ffffff 30px, transparent 1%) center,
    linear-gradient(#ffffff 30px, transparent 1%) center,
    #d6d6d5;
	background-size: 32px 32px;
}

/* About block */
.content-about, .content-buisness__consulting, .content-team {
    text-align: center;
    position: relative;
}

.content-about-us:first-of-type {
    padding: 72px 0 0 0;
}
.content-about-us:nth-of-type(2n) {
    margin: 126px 0 0 0;
    padding: 0 0 45px 0;
}
.content-about-us-header, 
.content-buisness__consulting-slogan__theme-slogan,
.content-team-header,
.content__testimonials-truth-header,
.content-great__work-truthworst-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4rem;
    color: rgba(51, 51, 51, 255);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.content-about-us-text,
.content-team-text,
.content__testimonials-truth-text,
.content-great__work-truthworst-text {
    font-family: 'Lato', sans-serif;
    font-size: 0.32rem;
    color: rgba(77, 73, 67, 255);
    margin-bottom: 52px;
}
.content__underline {
    margin: auto;
    height: 0;
    width: 60px;
    border: 3px solid rgba(249, 173, 29, 1);
}
.content-about-awards {
    margin: 57px auto;
    width: 281px;
    height: 181px;
    background-image: url(../img/web\ Award@1X.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.content-about-navigation {
    width: 74%;
    margin: auto;
    display: block;
    text-align: center;
    border-bottom: 3px solid rgba(249, 173, 29, 1);
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.content-about-navigation-logo {
    /* display: inline-block; */
    float: left;
    font-size: 0.7rem;
    font-weight: 700;
    color: rgba(249, 173, 29, 1);
    padding: 0 0 22px 0;
}
.content-about-navigation nav {
    width: 75%;
    float: right;
}
.content-about-navigation-block {
    display: inline-block;
    width: 16%;
    box-sizing: border-box;
    vertical-align: top;    
    text-align: center;
    font-size: 0.5rem;
    padding: 0 0 33px 0;
    color: rgba(61, 61, 61, 255);
}
.content-about-navigation-block:hover {
    color: rgba(249, 173, 29, 1);
}
.content-about-navigation-block:hover::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid rgba(249, 173, 29, 1);
}

.content-about-navigation-block a {
    color: inherit;
    padding: 0 3px 0 0;
}

/* Business consulting section */
/* Blocks with images */
.content-buisness__consulting-blocks, .content-buisness__consulting-description  {
    display: inline-block;
    position: inherit;
    width: 39.04%;
    height: 315px;
    margin: 20px 0 0 0;
}
.content-buisness__consulting-blocks-item {
    width: 45%;
    height: 46.25%;
    margin: 0 20px 15px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    position: inherit;
}
.content-buisness__consulting-blocks-item:nth-of-type(1n){
    background-image: url(../img/consulting.png);
    float: left;
}
.content-buisness__consulting-blocks-item:nth-of-type(2n){
    background-image: url(../img/photography.png);
    float: left;
}
.content-buisness__consulting-blocks-item:nth-of-type(3n){
    background-image: url(../img/webdesign.png);
    clear: both;
    float: left;
}
.content-buisness__consulting-blocks-item:nth-of-type(4n){
    background-image: url(../img/advertising.png);
    float: left;
}

.content-buisness__consulting-blocks-item button, 
.content-buisness__consulting-description button,
.content-team-members-item button,
.content-great__work-tabs button {
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.29rem;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.content-buisness__consulting-blocks-item button {
    position: absolute;
    bottom: 0;
    margin: 0 0 11px 13px;
    width: 117px;
    height: 42px;
    background-color: #333333;
    vertical-align: bottom;
}
/* Business consulting description */

.content-buisness__consulting-description p {
    clear: both;
    text-align: justify;
    float: left;
    margin-bottom: 26px;
}
.content-buisness__consulting-description p,
.content-team-services-item__description p,
.content-team-services-item__offers p,
.content__testimonials-quotes-item-text,
.content__testimonials-quotes-item-name,
.content__testimonials-quotes-item-role,
.content__testimonials-message-form p,
.content__testimonials-message-form input,
.content__testimonials-message textarea {
    font-family: 'Lato', sans-serif;
    font-size: 0.33rem;
    color: rgba(80, 80, 80, 255);
    line-height: 1.5em;
}

.content-buisness__consulting-description h3 {
    float: left;
    margin: 0 0 26px 0;
    text-align: left;
    text-transform: uppercase;
}

.content-buisness__consulting-description h3,
.content-team-services-item__name,
.content-team-services-item__offers h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 255);
}
.span-content__mod,
.span-content__mod span {
    color: rgba(249, 173, 29, 1);
}
.content-buisness__consulting-description button {
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 176px;
    height: 51px;
    background-color: rgba(249, 173, 29, 1);
    vertical-align: bottom;
    text-align: center;
}

/* TODO:MIDDLE BACKGROUNDS */

.content__divider-slogan__theme, 
.content__divider-featuring,
.content__divider-bird__saying {
    width: 100%;
    margin-left: -22px;
    padding-right: 22px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.content__divider-slogan__theme {
    height: 380px;
    margin-top: 124px;
    background-image: url(../img/backgrounds/middle1_bg.png);
}
.content__divider-featuring {
    height: 475px;
    margin-top: 195px;
    background-image: url(../img/backgrounds/middle2_bg.png);
}
.content__divider-bird__saying {
    clear: both;
    height: 485px;
    margin-top: 142px;
    background-image: url(../img/backgrounds/middle3_bg.png);
}

/* TODO:TESTIMONIALS SECTION */

.content__divider-featuring-testimonials {
    margin: auto;
    padding: 56px 0 113px 0;
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    max-height: 52px;
}
.content-buisness__consulting-slogan__theme-slogan {
    color: #ffffff;
    margin-bottom: 61px;
    padding-top: 152px;
}

/* Team members section */

.content-team-secrets:nth-of-type(1n) {
    margin: 114px 0 53px 0;
}
.content-team-secrets:nth-of-type(2n) {
    margin: 207px 0 46px 0;
}
.content-team-members {
    text-align: center;

}
.content-team {
    width: 1170px;
    margin: auto;
}
.content-team-members-item {
    float: left;
    position: relative;
    margin: 0 2px 2px 0;
    width: 193px;
    height: 178px;
    background: #f1ad1d;
}
.content-team-members-item:nth-last-of-type(6n) {
    clear: both;
}
.content-team-members-item button {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0 0 11px 13px;
    padding: 15px 50px 16px 15px;
    background-color: #333333;
}

/* Services */
.content-team-services {
    margin: 46px 0 0 0;
}
.content-team-services-item {
    width: 23.14%;
    margin: 0 28px 0 0;
    float: left;
    border-bottom: 3px solid #333333;
}
.content-team-services-item:last-of-type {
    margin-right: 0;
}
.content-team-services-item__name {
    width: 100%;
    background: #333333;
    color: #ffffff;
    padding: 22px 0 16px 0;
    margin: 0;
    text-align: center;
}
.content-team-services-item__icon {
    margin: 33px 0 38px 0;
}
.content-team-services-item__description p {
    min-height: 76.8px;
    margin: 0 0 26px 0;
}
.content-team-services-item__offers {
    padding: 28px 0 34px 0;
}
.content-team-services-item__offers h3 {
    font-weight: 400;
    margin: 0 0 16px 0;
}


.content__testimonials, 
.content-great__work {
    width: 1170px;
    margin: auto;
}

/* TODO:Testimonials block */

.content__testimonials-truth, 
.content-great__work-truthworst {
    text-align: center;
}
.content__testimonials-truth:first-of-type {
    margin: 150px 0 0 0;
}
.content__testimonials-truth:nth-of-type(2n) {
    margin: 264px 0 0 0;
}
.content__testimonials-truth:nth-of-type(3n) {
    margin: 177px 0 0 0;
}
.content__testimonials-quotes {
    margin: 54px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.content__testimonials-quotes-item {
    width: 370px;
    float: left;
}   
.content__testimonials-quotes-item-big__quote {
    display: block;
    text-align: right;
    height: 48px;
    color: rgba(249, 173, 29, 1);
    font-weight: 300;
}
.content__testimonials-quotes-item-big__quote i,
.content__testimonials-quotes-item-big__quote span {
    display: inline-block;
}
.content__testimonials-quotes-item-big__quote span {
    width: 82%;
    height: 1px;
    border-top: 3px solid rgba(249, 173, 29, 1);
}
.content__testimonials-quotes-item-text {
    padding: 19px 0 32px 0;
    box-sizing: border-box;
    border-bottom: 3px solid rgba(0, 0, 0, 1)
}
.content__testimonials-quotes-item-person {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin: 15px 0 0 0;
}
.content__testimonials-quotes-item-person img {
    max-width: 44x;
    max-height: 56px;
}


/* INPUTS */
.content__testimonials-subscribe {
    margin: 59px auto;
    height: 64px;
    width: 66%;
    text-align: center;
}
.content__testimonials-subscribe .subscribe_email,
.content__testimonials-subscribe .subscribe_button {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 0.32rem;
    font-weight: 400;
}
.content__testimonials-subscribe .subscribe_email {
    width: 75.5%;
    padding: 26px 0 24px 30px;
    font-style: italic;
    color: rgba(116, 116, 116, 255);
}
.content__testimonials-subscribe .subscribe_button {
    width: 19.5%;
    padding: 25px 47px;
    color: rgba(255, 255, 255, 255);
    background: rgba(249, 173, 29, 1);
    border-color: rgba(249, 173, 29, 1);
    border-style: solid;
}
.content__testimonials-message {
    width: 50%;
    float: left;
    margin: 47px 0 0 0;
}
.content__testimonials-message-form input {

}
.content__testimonials-message-form__title {
    width: 66.66%;
    background: #333333;
    padding: 22px 0 16px 15px;
    margin: 0 0 23px 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.29rem;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.content__testimonials-message-form__credentials,
.content__testimonials-message-form__text,
.content__testimonials-message-form__butts {
    width: 100%;
    margin: 26px 0 0 0;
}
.content__testimonials-message-form__credentials {
    display: flex;
    justify-content: space-between;
}
.content__testimonials-message-form__credentials input {
    width: 271px;
}
.content__testimonials-message-form__credentials input[type="text"],
.content__testimonials-message-form__credentials input[type="email"],
.content__testimonials-message-form__text textarea  {
    padding: 18px 0 15px 12px;
    box-sizing: border-box;
}
.content__testimonials-message-form__text textarea {
    width: 100%;
    min-height: 184px;
    max-height: 184px;
}

/* GREAT WORK TO BE DONE SECTION */
.content-great__work-truthworst {
    margin: 105px 0 0 0;
}

/* GREAT WORKS TABS */

.content-great__work-tabs {
    margin: 61px auto 0 ;
    display: flex;
    justify-content: center;
}
.content-great__work-tabs button {
    color: rgba(17, 17, 17, 255);
    padding: 15px 40px 11px;
    margin: 0 8px;   
    text-align: center;
    text-transform: capitalize;
}


/* GREAT WORK TABLE CONTENT */

.content-great__work-table {
    margin: 45px 0 0 0;
    border-spacing: 15px;
    border: none;
}
.content-great__work td {
    width: 281px;
    height: 271px;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-great__work-item1 { background-image: url(../img/table/1.png); }
.content-great__work-item2 { background-image: url(../img/table/2.png); }
.content-great__work-item3 { background-image: url(../img/table/3.png); }
.content-great__work-item4 { background-image: url(../img/table/4.png); }
.content-great__work-item5 { background-image: url(../img/table/5.png); }
.content-great__work-item6 { background-image: url(../img/table/6.png); }
.content-great__work-item7 { background-image: url(../img/table/7.png); }
.content-great__work-item8 { background-image: url(../img/table/8.png); }
.content-great__work-item9 { background-image: url(../img/table/9.png); }
.content-great__work-item10 { background-image: url(../img/table/10.png); }
.content-great__work-item11 { background-image: url(../img/table/11.png); }
.content-great__work-item12 { background-image: url(../img/table/1.png); }

/* Media kit */
@media screen and (max-width: 1024px) {
    html {
        font-size: 30px;
    }
    #header_image {
        height: 576px;
    }
    .header_content {
        width: 55%;
        padding: 450px 0 0 183px;
    }
}
